Library yang digunakan

In [ ]:
import pandas as pd
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt

Input File

In [ ]:
mobil = pd.read_excel('mobil.xls')
#mobil = mobil.to_numpy().copy()

Pra Pemrosesan Data

In [ ]:
#Melihat 5 data teratas
print(mobil)

              Nama Mobil  Ukuran  ...  Kecepatan  Harga (Ratus Juta)
0            Toyota Agya       4  ...          6                1.00
1          Daihatsu Alya       4  ...          6                1.10
2          Toyota Avanza       6  ...          6                2.00
3         Daihatsu Xenia       6  ...          6                1.75
4                Xpander       7  ...          7                2.25
5                 Livina       7  ...          7                2.10
6                Karimun       3  ...          5                1.20
7          Toyota Innova       8  ...          7                4.00
8                Alphard       9  ...          8               10.00
9            Toyota Vios       5  ...          8                2.50
10            Honda City       5  ...          8                2.70
11          Toyota Hiace      10  ...          6                5.00
12       Toyota Fortuner       9  ...          8                5.00
13           Toyota Foxy       9  ...          7                5.50
14  Toyota Corolla Altis       5  ...          9                6.00
15         Suzuki Ertiga       7  ...          7                2.30
16          Suzuki Carry       7  ...          5                0.80

[17 rows x 6 columns]

In [ ]:
#Melihat informasi mengenai dataset
mobil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Nama Mobil          17 non-null     object
 1   Ukuran              17 non-null     int64
 2   Kenyamanan          17 non-null     int64
 3   Irit                17 non-null     int64
 4   Kecepatan           17 non-null     int64
 5   Harga (Ratus Juta)  17 non-null     float64
dtypes: float64(1), int64(4), object(1)
memory usage: 944.0+ bytes

In [ ]:
#Menampilkan statistik deskriptif dari dataset
mobil.describe(include='all').T

                   count unique           top freq  ...   25%  50%  75%  max
Nama Mobil            17     17  Toyota Hiace    1  ...   NaN  NaN  NaN  NaN
Ukuran                17    NaN           NaN  NaN  ...     5    7    8   10
Kenyamanan            17    NaN           NaN  NaN  ...     4    7    8   10
Irit                  17    NaN           NaN  NaN  ...     6    7    9   10
Kecepatan             17    NaN           NaN  NaN  ...     6    7    8    9
Harga (Ratus Juta)    17    NaN           NaN  NaN  ...  1.75  2.3    5   10

[6 rows x 11 columns]

In [ ]:
#Memeriksa adanya missing value pada dataset
mobil.isna().sum()

Nama Mobil            0
Ukuran                0
Kenyamanan            0
Irit                  0
Kecepatan             0
Harga (Ratus Juta)    0
dtype: int64

Perhitungan Ukuran Jarak

In [ ]:
#Perhitungan jarak menggunakan Euclidean Distance
def euclidean(data1, data2):

  ukuran1 = data1.get('Ukuran')
  nyaman1 = data1.get('Kenyamanan')
  irit1 = data1.get('Irit')
  cepat1 = data1.get('Kecepatan')
  harga1 = data1.get('Harga (Ratus Juta)')


  ukuran2 = data2.get('Ukuran')
  nyaman2 = data2.get('Kenyamanan')
  irit2 = data2.get('Irit')
  cepat2 = data2.get('Kecepatan')
  harga2 = data2.get('Harga (Ratus Juta)')

  jarak = sqrt((ukuran1 - ukuran2)**2 + (nyaman1 - nyaman2)**2 + (irit1 - irit2)**2 + (cepat1- cepat2)**2 + (harga1 - harga2)**2)

  return jarak

#Perthitungan jarak menggunakan Manhattan Distance
def manhattan(data1, data2):

  ukuran1 = data1.get('Ukuran')
  nyaman1 = data1.get('Kenyamanan')
  irit1 = data1.get('Irit')
  cepat1 = data1.get('Kecepatan')
  harga1 = data1.get('Harga (Ratus Juta)')


  ukuran2 = data2.get('Ukuran')
  nyaman2 = data2.get('Kenyamanan')
  irit2 = data2.get('Irit')
  cepat2 = data2.get('Kecepatan')
  harga2 = data2.get('Harga (Ratus Juta)')

  jarak = abs(ukuran1 - ukuran2) + abs(nyaman1 - nyaman2) + abs(irit1 - irit2) + abs(cepat1- cepat2) + abs(harga1 - harga2)

  return jarak

def minkowski(data1, data2):

  ukuran1 = data1.get('Ukuran')
  nyaman1 = data1.get('Kenyamanan')
  irit1 = data1.get('Irit')
  cepat1 = data1.get('Kecepatan')
  harga1 = data1.get('Harga (Ratus Juta)')


  ukuran2 = data2.get('Ukuran')
  nyaman2 = data2.get('Kenyamanan')
  irit2 = data2.get('Irit')
  cepat2 = data2.get('Kecepatan')
  harga2 = data2.get('Harga (Ratus Juta)')

  p = 1.5
  jarak = ((abs(ukuran1 - ukuran2)**p) + (abs(nyaman1 - nyaman2)**p) + (abs(irit1 - irit2)**p) + (abs(cepat1- cepat2)**p) + (abs(harga1 - harga2)**p))**1/p

  return jarak


def supremum(data1, data2):

  ukuran1 = data1.get('Ukuran')
  nyaman1 = data1.get('Kenyamanan')
  irit1 = data1.get('Irit')
  cepat1 = data1.get('Kecepatan')
  harga1 = data1.get('Harga (Ratus Juta)')


  ukuran2 = data2.get('Ukuran')
  nyaman2 = data2.get('Kenyamanan')
  irit2 = data2.get('Irit')
  cepat2 = data2.get('Kecepatan')
  harga2 = data2.get('Harga (Ratus Juta)')


  jarak = max(abs(ukuran1 - ukuran2), abs(nyaman1 - nyaman2), abs(irit1 - irit2), abs(cepat1- cepat2), abs(harga1 - harga2))


  return jarak

Klasifikasi Menggunakan kNN

In [ ]:
def knn(data1, data2, k):
  euclidean_result = []
  manhattan_result = []
  minkowski_result = []
  supremum_result = []
  for i in range(len(mobil)):
    euclidean_result.append([mobil['Nama Mobil'][i], euclidean(data1, data2.iloc[i])])
    manhattan_result.append([mobil['Nama Mobil'][i], manhattan(data1, data2.iloc[i])])
    minkowski_result.append([mobil['Nama Mobil'][i], minkowski(data1, data2.iloc[i])])
    supremum_result.append([mobil['Nama Mobil'][i], supremum(data1, data2.iloc[i])])

  euclidean_result.sort(key=lambda x: x[1])
  manhattan_result.sort(key=lambda x: x[1])
  minkowski_result.sort(key=lambda x: x[1])
  supremum_result.sort(key=lambda x: x[1])

  euclidean_result = euclidean_result[:k]
  manhattan_result = manhattan_result[:k]
  minkowski_result = minkowski_result[:k]
  supremum_result = supremum_result[:k]

  return euclidean_result, manhattan_result, minkowski_result, supremum_result

Main Program

In [ ]:
#Input dari user
'''
print("===========Masukkan kriteria mobil yang diinginkan==========")
ukuran = int(input("Ukuran: "))
kenyamanan = int(input("Kenyamanan: "))
irit = int(input("Irit: "))
kecepatan = int(input("Kecepatan: "))
harga = float(input("Harga: "))
print("============================================================")
'''

ukuran, kenyamanan, irit, kecepatan, harga = 4, 5, 6, 7, 4.5
user_input = {
  'Ukuran': ukuran,
  'Kenyamanan' : kenyamanan,
  'Irit' : irit,
  'Kecepatan' : kecepatan,
  'Harga (Ratus Juta)' : harga
}
k = 3
euclidean_sorted, manhattan_sorted, minkowski_sorted, supremum_sorted = knn(user_input, mobil, k)
print("===========================Hasil============================")

print("Dengan Euclidean: ", euclidean_sorted)
print("Dengan Manhattan: ", manhattan_sorted)
print("Dengan Minkowski: ", minkowski_sorted)
print("Dengan Supremum: ", supremum_sorted)

print("============================================================")

#Mengambil hasil akhir yaitu rekomendasi yang menggunakan perhitungan Supremum Distance
result = []
for i in range(len(supremum_sorted)):
  result.append(supremum_sorted[i][0])
print(result)

===========================Hasil============================
Dengan Euclidean:  [['Toyota Avanza', 3.3541019662496847], ['Daihatsu Xenia', 3.6827299656640586], ['Honda City', 3.903844259188627]]
Dengan Manhattan:  [['Toyota Avanza', 5.5], ['Daihatsu Xenia', 6.75], ['Xpander', 7.25]]
Dengan Minkowski:  [['Toyota Avanza', 5.187516133304443], ['Daihatsu Xenia', 6.2591908076565765], ['Honda City', 7.074070558937603]]
Dengan Supremum:  [['Toyota Avanza', 2.5], ['Daihatsu Xenia', 2.75], ['Xpander', 3]]
============================================================
['Toyota Avanza', 'Daihatsu Xenia', 'Xpander']

Output File

In [ ]:

#Output berupa ID dari 3 Mobil terbaik
file_hasil = pd.DataFrame(result)
print(file_hasil)

#Menyimpan output ke dalam file 'rekomendasi.xlsx'
filepath = 'rekomendasi.xlsx'
file_hasil.to_excel(filepath, index=False, header=False)

                0
0   Toyota Avanza
1  Daihatsu Xenia
2         Xpander